[Desktop Entry]
Encoding=UTF-8
Name=hello
Comment=hello P2P Cryptocurrency
Comment[fr]=hello, monnaie virtuelle cryptographique pair à pair
Comment[tr]=hello, eşten eşe kriptografik sanal para birimi
Exec=hello-qt %u
Terminal=false
Type=Application
Icon=hello128
MimeType=x-scheme-handler/hello;
Categories=Office;Finance;
