[Desktop Entry]
Encoding=UTF-8
Name=Hello
Comment=Hello P2P Cryptocurrency
Comment[fr]=Hello, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Hello, eşten eşe kriptografik sanal para birimi
Exec=Hello-qt %u
Terminal=false
Type=Application
Icon=Hello128
MimeType=x-scheme-handler/Hello;
Categories=Office;Finance;
